<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.bw.mapper.UserMapper">

	<select id="getByPage" parameterType="basequeryvo" resultType="user">
		select * from user
		<if test="start != null and rows != null">
			limit #{start}, #{rows}
		</if>
	</select>
	
	<select id="getCount" resultType="long">
		select count(*) from user
	</select>
	
	<select id="getById" parameterType="long" resultType="user">
		select * from user where id = #{id}
	</select>
	
	<insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user`
			(`usercode`, 
			`username`, 
			`password`, 
			`createby`, 
			`createtime`, 
			`updatetime`, 
			`state`)
		VALUES
			(#{usercode}, 
			#{username}, 
			#{password}, 
			#{createby}, 
			#{createtime}, 
			#{updatetime}, 
			#{state});
	</insert>
	
	<update id="update" parameterType="user">
		UPDATE `user` 
		SET
			`usercode` = #{usercode}, 
			`username` = #{username}, 
			<if test="password != null and password != ''">			
				`password` = #{password}, 
			</if>		
			`updatetime` = #{updatetime}, 
			`state` = #{state}			
		WHERE
			`id` = #{id};
	</update>
	
	<delete id="delete" parameterType="long">
		delete from `user` where `id` = #{id}
	</delete>

</mapper>
